.button {
    padding: 12px 14px;
    border: none;
    outline: none;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #3A79FF;
    background: #D2E1FF;
    border-radius: 2px;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
        color: #D2E1FF;
        background: #3A79FF;
    }

    &-red {
        background: #FFD7D7;
        color: #D43F3F;
    }

}

.button-type2 {
    padding: 13px 25px;
    background: #4C85FF;
    box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
    outline: none;
    transition: 0.5s all;

    &:hover {
        color: #4C85FF;
        background: #fff;
    }
}

.button-type3 {
    padding: 13px 21px;
    background: transparent;
    border: 1.5px solid #ADB3D2;
    border-radius: 2px;
    color: #ADB4D2;
    transition: 0.5s all;

    &:hover {
        color: #fff;
        background: #ADB3D2;
    }
}